body {
  position: relative;
  height: 100vh;
  font-size: 16px;
  font-family: Consolas;
  background-color: #272822;
  color: #fff;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.container {
  padding-left: 5px;
  margin: 5px 0 0 5px;
}

.container.container-editorable {
  border-left: 2px solid #e0b350;
}
